# HW1
data/
# HW2
libriphone/
libriphone.zip
# HW3
food11/
food11.zip
/HW3/runs
*.jpg
# HW4
*.tar.gz
*.partaa
*.partab
*.partac
*.partad
Dataset/
# HW5
fairseq/
DATA/
checkpoints/
# HW6
faces/
faces.zip
*.tgz
logs/
models/
output/
results/
stylegan_output/
# HW7
HW7/model/
__pycache__/
hw7_data.zip
wandb/
# HW9
HW9/hw9_bert
HW9/food.zip
HW9/hw9_bert.zip
HW9/checkpoint.pth
HW9/taipei_sans_tc_beta.ttf
# HW10
fgsm/
ifgsm/
mifgsm/
dim_mifgsm/
ensemble/
ensemble_11/